* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  background: #ccc;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video_container {
  width: 100%;
  max-width: 800px;
  position: relative;
}

video {
  width: 100%;
}

.controls {
  display: flex;
  position: absolute;
  transition: 0.3s;
  bottom: 5px;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

i {
  color: #fff;
  cursor: pointer;
}

i:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.buttons span {
  color: #fff;
}

.seek_bar {
  background-color: rgba(255, 255, 255, 0.4);
  height: 5px;
  top: 10px;
  left: 0;
  width: 100%;
}

.colored_bar {
  height: 5px;
  width: 100px;
  background-color: #f00;
}