* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  background: 333;
  background: linear-gradient(135deg, #000 0%, #333 48%, #686868 100%);
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video_container {
  width: 100%;
  max-width: 800px;
  position: relative;
}

video {
  width: 100%;
  background-color: #000;
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 1s;
  transform: translateY(-5px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 1000ms;
}

.video_container:hover .controls {
  transform: translateY(-5px);
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height:30px;
}

i {
  color: #ddd;
  cursor: pointer;
}

i:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.buttons span {
  color: #ddd;
}

.seek_bar {
  background-color: rgba(255, 255, 255, 0.4);
  height: 5px;
  top: 10px;
  left: 0;
  width: 100%;
  cursor: pointer;
}

.colored_bar {
  height: 5px;
  width: 100px;
  background-color: #f00;
}


.after_finish {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  top: 40%;
  left: 25%;
  width: 50%;
  justify-content: space-around;
}

.after_finish img {
  cursor: pointer;
}

.more_menu {
  position: relative;
}

.more_menu i {
  position: absolute;
}

.more_options {
  width: 140px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  display: none;
}

.more_options a {
  text-decoration: none;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  padding: 10px;
}

.sub_menu_content {
  background-color: rgba(0, 0, 0, 0.4);
}

.sub_menu_content a:hover {
  color: #aaa;
}

#quality_sub_menu, #speed_sub_menu {
  display: none;
}